<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>Emperor Trump</h1>
  <h2>Reimagined Tweets from the leader of the galaxy</h2>
  <div class="container">
    <div class="row">
      {% for q in quote%}
      <div class="card col-md-12">
        <div class="quote">
            <h6>{{q.tweet}}</h6>
            <i>{{q.date}}</i>
        </div>
      </div>
    {%endfor%}
    </div>
  </div>
</body>
</html>
